header {
  background: var(--primary);
  height: 4em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 75em;
  padding: 0 1em;
}

.navbar .logo {
  color: var(--white);
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.navbar .logo img {
  height: 1.75em;
  width: 100%;
}

.navbar .logo:hover {
  transform: scale(0.95);
}

.navbar .btn.mobile {
  margin: 0 1.25em 0 auto;
}

.navbar .btn.laptop {
  display: none;
}

.menu-icon {
  display: block;
  top: 0;
  right: 0;
  font-size: var(--fontSize--1);
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: calc(100vh - 4em);
  list-style: none;
  position: absolute;
  top: 4em;
  right: -100%;
  opacity: 1;
  padding-bottom: 2em;
  transition: var(--transition2);
}

.nav-menu.active {
  background: var(--primary);
  right: 0;
  opacity: 1;
  padding-left: 4em;
  transition: var(--transition);
  z-index: 1;
}

.nav-item {
  font-size: var(--fontSize);
}

.nav-links {
  color: var(--white);
  text-decoration: none;
  text-align: right;
  padding: 2em;
  width: 100%;
  display: table;
  font-weight: 600;
  text-transform: capitalize;
  transition: var(--transition);
}

.nav-links:hover {
  transform: translateX(-10px);
}

.menu-icon {
  width: 1em;
}

.menu-icon i {
  color: var(--white);
}

@media screen and (min-width: 700px) {
  .navbar .logo img {
    height: 2em;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 5em;
  }
  .navbar-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0.5em;
    text-align: center;
    height: auto;
    justify-content: end;
    position: initial;
    padding: 0;
  }
  .navbar .logo img {
    height: 2.25em;
  }
  .nav-item {
    font-size: var(--fontSize--0);
  }
  .nav-links {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 100%;
    text-transform: uppercase;
    transition: var(--transition);
  }  
  .nav-links:hover {
    transform: none;
    color: var(--white);
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: var(--white);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }
  .menu-icon {
    display: none;
  }
  .navbar .btn.mobile {
    display: none;
  }
  .navbar .btn.laptop {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    justify-self: flex-end;
    align-items: center;
    gap: 0.5em;
  }
}